.swiper {
  width: 330px;
  height: 300px;
  margin-left: 50%;
}
.slider_wrapper{
  padding: 54px;
}
.alignment {
  display: flex;
  flex-direction: row-reverse;
}
.align-left {
  margin-left: -50px;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.project-slider-container .swiper-slide img {
  display: block;
  /* width: 140px; */
  height: 280px;
  object-fit: cover;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 25%);
-moz-box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 25%);
box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 25%);
}

.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}
.swiper-scrollbar-drag {
  display: none;
}
.swiper-pagination {
  display: none;
}
.swiper-scrollbar {
  display: none;
}
.swiper-align {
  margin-left: -100px;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .swiper{
      margin-left: 35%;
  }
  .swiper-align {
    margin-left: -100px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .swiper-align {
    margin-left: 0px;
  }
  
}
@media (max-width:768px){
 
.swiper-align {
  margin-left: 0px;
}
}

@media ( max-width:580px){
  .swiper{
    margin-left: 0%;
}
  .slider_wrapper{
    padding:25px
  }
}

@media ( max-width:380px){
  .slider_wrapper{
    padding:10px
  }
  
}